{
  "presets": ["react", "es2015", "stage-1"],
  "env": {
    "test": {
      "plugins": [
        [
          "css-modules-transform",
          {
            "generateScopedName": "[local]--[hash:base64:5]",
            "preprocessCss": "./test/unit/spec/helpers/sassPreprocessor.js",
            "extensions": [".scss"]
          }
        ],
        [ "babel-plugin-webpack-alias", { "config": "./build/webpack.test.conf.js" } ]
      ]
    }
  }
}
